body {
    background-color: rgb(32, 32, 32);
    text-align: center;
}
p {color: rgb(233, 27, 27);}
.sam {
    font-style: initial;}
    .img1 {width: 60;
    } 
    element.style {
        border: solid;
     } 
     body {
        color: white;
        background: rgb(78, 76, 76);
        margin: 0px;
    }
    header {
        border-bottom: solid 2px rgb(87, 30, 30);
        padding: 20px;
        font-size: 32px;
        color: rgb(42, 122, 228);
    }