body {
    background-color: rgb(32, 32, 32);
    text-align: center;
}
p {color: rgb(233, 27, 27);}
.sam {
    font-style: initial;}
    .img1{width: fit-content;}
    element.style {
        border: solid;
     } section {background: rgb(rgb(161, 39, 39), rgb(85, 175, 85), rgb(61, 61, 105));
    padding-bottom: 50px;
padding-top: 50px;
display: flex;
justify-content: center;
}